server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/gamification-db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        jdbc:
          batch_size: 20
          order_inserts: true
          order_updates: true

  sql:
    init:
      mode: always
      platform: postgresql
      schema-locations: classpath:schema.sql

  web:
    resources:
      static-locations: classpath:/static/

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs

logging:
  level:
    root: INFO
    ru.misis.gamification: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: INFO
    org.hibernate.orm.jdbc.bind: INFO
    org.hibernate.stat: INFO

  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"

leveling:
  formula:
    type: TRIANGULAR  # TRIANGULAR, QUADRATIC, LINEAR
    base: 500         # базовый множитель
    increment: 200    # только для LINEAR