<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="demo-header" th:fragment="header">
    <script th:src="@{/js/common-api.js}"></script>
    <script th:src="@{/js/header.js}"></script>
    <div class="demo-header-inner">
        <div class="demo-badge"><a href="/demo">Демо</a></div>

        <div class="demo-controls">
            <!-- Динамический select пользователей -->
            <select id="demoUser" class="demo-select"></select>

            <!-- Ручной ввод UserId -->
            <input type="text" id="manualUserId" placeholder="введите UserId" class="demo-select input-small">
            <button id="setUserIdBtn" class="btn-set">Set</button>
        </div>

        <div class="demo-nav">
            <a href="/demo">Демо</a>
            <a href="/demo/admin/users">Студенты</a>
            <a href="/demo/admin/event-types">Типы событий</a>
            <a href="/demo/transactions">Транзакции</a>
            <a href="#" onclick="goToProfile()">Профиль</a>
            <a href="/demo/leaderboard">Лидерборд</a>
        </div>
    </div>
</div>
</body>
</html>